body{
	background:url(https://www.google.co.in/search?q=black+images&biw=1366&bih=635&source=lnms&tbm=isch&sa=X&ved=0ahUKEwix9vamt6HQAhUHQI8KHbzwD_QQ_AUIBigB#imgdii=2bi-2nm9aYR2WM%3A%3B2bi-2nm9aYR2WM%3A%3B656A7tnHeOTLUM%3A&imgrc=2bi-2nm9aYR2WM%3A) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
h3,p{
	font-family: Calibri;
	font-size: 22pt;
	font-style: normal;
	font-weight: bold; 
	color:white;
	text-align: center; 
	text-decoration: underline }
table{
	font-family: Calibri; 
	color:white; 
	font-size: 11pt; 
	font-style: normal;
	text-align:center; 
	background-color: white; 

	border-collapse: collapse; 
	border: 2px yellow;}
	


