body{
	background:url(op.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
h3,p{
	font-family: Calibri;
	font-size: 22pt;
	font-style: normal;
	font-weight: bold; 
	color:white;
	text-align: center; 
	text-decoration: underline }
table{
	font-family: Calibri; 
	color:white; 
	font-size: 11pt; 
	font-style: normal;
	text-align:center; 
	background-color: white; 

	border-collapse: collapse; 
	border: 2px yellow;}
	


