

body { 
	background-color: #333333;
	margin: 0px; 
	margin-left:5px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 15px;
	color: #999999;
	font-weight: bold;
	}
	
#container	{
	position:absolute;
	margin-top:0px;
	width: 1335px;
	background-image: url("header.jpg");
	background-repeat:	no-repeat;
	background-position:top;
	background-color: #020106;
	}

#intro	{
	margin-top: 0px;
	text-align: right;
	color: #FFFFFF;
	}
#pageHeader {
	height:250px;
	padding-right: 50px;
	}
#pageHeader h1 , #pageHeader h2 , #pageHeader span	{
	height: 5px;
	}
		
#supportingText, #linkList {
	padding: 25px;
	width: 1000px;
	}
	


#intro h3	{
			width: 313px;
			height: 75px;
			}


/*
#linkList	{
	position: absolute;
	top: 300px;
	left: 450px;
	width: 100px;
	height: auto;
	z-index: 1;
		}
		
#linkList2	{
		margin-top: 0.px;
	margin-left: 0px;
	margin-top: 0px;
				}

#lselect	{
		width: 100px;
		height: auto;
		color:#CCCCCC;
			}

#lselect h3 span, #larchives h3 span, #lresources h3 span	{
		}
		
#lselect h3, #larchives h3, #lresources h3	{
		width: 229px;
		height: 50px;
		}
		
#lselect h3	{
			width: 229px;
			height: 40px;
			top: 0px;
			margin: 0px;
			padding: 0px;
			}
		
#lselect ul, #larchives ul, #lresources ul	{
	margin-top: 5px;
		}

#lselect li {
	border-bottom: 1px dotted #FFFFFF;
	width: 100px;
	margin-bottom: 8px;
}

#lselect .c {
	text-transform: capitalize;
}

#lselect a {
	display: block;
	font-weight: bold;
	color:#FFFFFF;
}

#lselect a:hover {
	display: block;
	font-weight: bold;
	color: #B99541;
	background-color:#FFFFFF;
}

#lselect a.c {
	color: #FFCC00;
	display: inline;
	font-weight: bold;
}

#lselect a.c:hover {
	color: #FFCC00;
	display: inline;
	font-weight: bold;
	background-color:#3399FF;
}


#larchives a, #lresources a {
	font-weight: bold;
	color:#FFFFFF;
}

#larchives li, #lresources li {
	width: 100px;
	list-style-position: outside;
}

#lresources li {
}

#larchives li {
}

#larchives	{
		width: 100px;
		height: 169px;
					}

#larchives h3	{
			width: auto;
			height: 40px;
			top: 0px;
			margin: 0px;
			padding: 0px;
			}
			
*/